@import "tailwindcss";

:root {
  --text-primary: #111;
  --text-secondary: #555;
  --bg-primary: #ffffff;
  --bg-secondary: #f9fafb;
}

@theme {
  --color-primary: #00a388;
  --color-primary-dark: #ff7f66;

  --color-secondary: #f97316;
  --color-secondary-dark: #c2410c;

  --font-primary: var(--font-poppins);
  --font-secondary: var(--font-urbanist);
}

body {
  font-family: var(--font-primary), sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 100vh;
  border: 0.1rem solid var(--color-primary);
}
